@import "./StyleVariables.scss";
$sideMenuWidth: 263px;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  .App-screen {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $sideMenuWidth;
  }
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

%link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SideMenu {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sideMenuWidth;
  height: 100%;
  background-color: $primary;

  h1 {
    // incontact title
    color: white;
    font-size: 41px;
    text-align: center;
    cursor: pointer;
  }

  .SideMenu-routerLink {
    text-decoration: none;
  }
  .SideMenuItem {
    @extend %link;
    color: white;
    height: 47px;
    width: 236px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    display: flex;
    align-items: center;
    padding-left: 10px;

    &:hover {
      background-color: darken($primary, 20%);
    }
    .SideMenuItem-title {
      margin-left: 5px;
    }
  }
  .active {
    background-color: darken($primary, 22%);
  }
  .SideMenu-logo {
    position: absolute;
    bottom: 18px;
    left: 18px;
    cursor: pointer;
  }
  .SideMenu-avatar {
    position: absolute;
    bottom: 18px;
    right: 18px;
    .Dropdown {
      color: black !important;
    }
  }
}

.card {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.16);
  border: 2px solid white;
}

@mixin setButtonColor($baseColor) {
  background-color: $baseColor;
  &:hover {
    background-color: darken($baseColor, 5%);
  }
}

button {
  @include setButtonColor($primary);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: white;
  padding: 13px 22px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &.btn-secondary {
    @include setButtonColor(#bdbdbd);
  }
}

input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: hidden;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bac1c6;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#bac1c6, 15%);
}
/* END SCROLLBAR */
