.Avatar {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: 300;
  line-height: normal;
  font-size: 32px;
}
