.modalContent {
  padding: 15px;
}

.EditContactModal {
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 22px;
    color: #2f80ed;
  }
  .column {
    padding-left: 30px;
    padding-right: 30px;
  }
  .EditContactModal-saveBtns {
    button {
      margin-left: 8px;
      margin-bottom: 8px;
    }
  }
}
