.ContactsScreen {
  display: flex;
  justify-content: space-around;
  height: 100%;
  .column {
    width: 100%;
  }
  .Spinner {
    margin-top: 20%;
  }
}

.ContactList {
  h1 {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 29px;
    color: #2f80ed;
    display: inline;
  }
  .ContactList-titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ContactList-newContactBtn {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    color: white;
    background-color: #2f80ed;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      box-shadow: none;
    }
  }
  .ContactList-contacts {
    overflow-y: auto;
    height: 100%;
    margin-top: 10px;

    .ContactList-background {
      background: #f2f2f2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      width: 90% !important;
      padding: 10px;
      margin: auto;
      margin-bottom: 100px;
    }

    .active {
      border: 2px solid #2f80ed;
    }
  }

  // Search
  input[type="text"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../../../../assets/images/icons/search.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type="text"]:focus {
    width: 60%;
  }
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
  height: 96px;
  margin-bottom: 8px;

  .ContactListItem-iconAndName {
    display: flex;
    align-items: center;

    h2 {
      // contact's name
      padding-left: 8px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 32px;
    }
  }

  &:hover {
    border: 2px solid lighten(#2f80ed, 20%);
  }

  .ContactListItem-icons {
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
}
