.Dropdown {
  position: relative;
  display: inline-block;
  .Dropdown-content {
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.16);
    border: 2px solid white;
  }
  .Dropdown-content.left {
    right: 10px;
  }
  .Dropdown-content.right {
    left: 10px;
  }
  .Dropdown-content.top {
    top: -120%;
    left: 10px;
  }

  .Dropdown-option {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: lighten(#2f80ed, 10%);
      color: white;
    }
  }
}
