.Modal-onClickOutside {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  .Modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
