body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

%link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$sideMenuWidth: 300px;

.SideMenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sideMenuWidth;
  height: 100%;
  background-color: #61dafb;

  .SideMenuItem {
    @extend %link;
    color: white;
  }
}

.AppContent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $sideMenuWidth;
}
